.profile-right-column {
  padding-left: 20px;
  padding-right: 80px;
}

.profile-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
}

.grid-span-full {
  grid-column: 1 / -1;
}

@media (max-width: 992px) {
  .profile-section-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .profile-header {
    flex-direction: column !important;
    text-align: center;
  }

  .profile-img {
    width: 100px !important;
    height: 100px !important;
    min-width: 100px !important;
    min-height: 100px !important;
  }

  .edit-btn {
    width: 100% !important;
    text-align: center;
  }

  .db-profile {
    padding: 15px !important;
  }

  .db-tit {
    font-size: 20px !important;
  }

  .profile-right-column {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-info p {
    justify-content: center !important;
  }

  .profile-info .badge-container {
    justify-content: center !important;
  }

  .edit-btn {
    width: 100% !important;
    text-align: center;
    font-size: 16px !important;
  }

  .doc-verify-left,
  .doc-verify-right {
    padding: 20px !important;
    flex-basis: 100% !important;
  }
}